@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <a class="navbar-brand" asp-page="/Links/Index">Go to Links</a>
</div>
